p {
  color: rgb(80, 80, 80);
}

/* basic layout */
body {
  width: 90%;
  margin: 0 auto;
}
@media screen and (max-width: 600px) {
  body {
    width: 98%;
  }
}
@media screen and (min-width: 1200px) {
  body {
    width: 80%;
  }
}

.panel-box {
  margin: 10px;
  padding: 0.6em;
  border: solid 1px lightblue;
  box-shadow: 3px 3px rgb(1 1 1 / 30%);
}
.pazzle-panel-container {
  display: inline-block;
  width: max(320px, 49%);
}
.pazzle-canvas {
  border: solid 2px #333;
  box-shadow: 6px 6px rgb(1 1 1 / 30%);
  margin: 0 auto;
}
.input-pazzle-canvas {
  margin-left: calc(49% - 160px);
}
@media screen and (max-width: 734px) {
  .input-pazzle-canvas {
    margin-left: calc(100% - 160px);
  }
}
.panelmenu {
  display: none;
  position: fixed;
  width: 200px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgb(0 0 0 / 20%);
  z-index: 1000;
}
.panelmenu.show {
  display: block;
}
.panelmenu ul {
  list-style: none;
  padding: 10px 0;
  margin: 0;
}
.panelmenu ul li {
  padding: 4px 10px;
  font-size: 14px;
}
.panelmenu ul li:first-child {
  border-bottom: solid 1px #aaa;
}
.panelmenu ul li:hover {
  background-color: lightblue;
}
/* border color */
.red-border {
  border-color: coral;
}

.bottom-line-darkcyan {
  border-bottom: solid 1.5px darkcyan;
}
.bottom-line-coral {
  border-bottom: solid 1.5px coral;
}

/* individual element */
#input-pane {
  margin: 0 auto;
  width: max(100%, 320px);
}