p {
  padding: 0;
  margin: 0;
}
.float-right {
  float: right;
}
.clear-both {
  clear: both;
}

/* basic layout */
body {
  width: 90%;
  margin: 0 auto 80px;
}
@media screen and (max-width: 600px) {
  body {
    width: 98%;
  }
}
@media screen and (min-width: 1200px) {
  body {
    width: 80%;
  }
}
.panel-box {
  margin: 10px;
  padding: 0.6em;
  border: solid 1px lightblue;
  box-shadow: 3px 3px rgb(1 1 1 / 30%);
}
.pazzle-panel-container {
  display: inline-block;
  width: max(320px, 49%);
}
.pazzle-canvas {
  border: solid 2px #333;
  margin: 0 auto;
}
.input-pazzle-canvas rect:hover {
  cursor: pointer;
}
.input-pazzle-canvas {
  margin-left: calc(49% - 160px);
  box-shadow: 6px 6px rgb(1 1 1 / 30%);
}
@media screen and (max-width: 734px) {
  .input-pazzle-canvas {
    margin-left: calc(100% - 160px);
  }
}
.panelmenu {
  display: none;
  position: fixed;
  width: 200px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgb(0 0 0 / 20%);
  z-index: 1000;
}
.panelmenu.show {
  display: block;
}
.panelmenu ul {
  list-style: none;
  padding: 10px 0;
  margin: 0;
}
.panelmenu ul li {
  padding: 4px 10px;
  font-size: 14px;
}
.panelmenu ul li:first-child {
  border-bottom: solid 1px #aaa;
}
.panelmenu ul li:hover {
  background-color: lightblue;
}
.message-box {
  background-color: #eee;
  padding: 6px;
  overflow-y: scroll;
  min-height: 4em;
  margin-top: 10px;
}
#message-box p {
  font-size: 12px;
}
#message-box.error p {
  color: red;
  font-weight: bold;
}
.output-cell {
  float: left;
  margin: 0 5px;
}
.output-cell.goal p:after {
  content: 'ゴール';
  margin-left: 10px;
  color: red;
}

/* border color */
.red-border {
  border-color: coral;
}

.bottom-line-darkcyan {
  border-bottom: solid 1.5px darkcyan;
}
.bottom-line-coral {
  border-bottom: solid 1.5px coral;
}

/* individual element */
#input-pane {
  margin: 0 auto;
  width: max(100%, 320px);
}
#message-pane {
  width: 90%;
}
#least-count-pane {
  display: inline-block;
}
#least-count-pane p, #least-count-pane div {
  display: inherit;
}
#least-count {
  font-size: 24px;
  border: solid 1px #333;
  padding: 5px;
  width: 3em;
  text-align: center;
  margin-left: 10px;
}
#control-button-container button {
  font-weight: bold;
  padding: 8px;
  border-radius: 10px;
}
#btn-start {
  background-color: pink;
  border-color: lightcoral;
}
#btn-makequiz {
  background-color: lightblue;
  border-color: mediumaquamarine;
}
#btn-clear {
  background-color: lightgray;
  border-color: darkgray;
}
#least-count:before, #least-count:after {
  content: '_';
  font-size: 1px;
  color: transparent;
}
#output-display-trigger:hover {
  color: lightblue;
  cursor: pointer;
}
#output-display-trigger:after {
  color: blue;
  padding-left: 6px;
}
#output-display-trigger.hide-grid:after {
  content: '▼';
}
#output-display-trigger.show-grid:after {
  content: '▲';
}
/* #output-pazzle-panel-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
*/
#output-grid-pane {
  width: min(728px, 80%);
  margin: 0 auto;
}